{%load static%}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:locale" content="ja_JP">
  <!--SEO-->
  <title>北海道最大級のキャンプ場＆温泉案内サイト - CampFinder</title>
  <meta name="description" content="北海道のキャンプ場＆温泉を最大級満喫できる、CampFinder。新鮮な空気、大自然の中でキャンプや温泉を楽しむなら、ぜひ当サイトをご利用ください。豊富な情報量と、使いやすい検索機能で、あなたの理想のキャンプ場＆温泉を見つけるお手伝いをいたします。">
  <meta name="robots" content="index, follow">
  <meta property="og:url" content="https://campfinderjp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="北海道の最大級キャンプ場＆温泉案内サイト | CampFinder" />
  <meta property="og:description" content="北海道のキャンプ場＆温泉を最大級満喫できる、CampFinder。新鮮な空気、大自然の中でキャンプや温泉を楽しむなら、ぜひ当サイトをご利用ください。豊富な情報量と、使いやすい検索機能で、あなたの理想のキャンプ場＆温泉を見つけるお手伝いをいたします。"/>
  <meta property="og:site_name" content="CampFinder" />
  <meta property="og:image" content="{% static 'img/favicon.PNG'%}" />
  <!-- TwitterCard-->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="北海道の最大級キャンプ場＆温泉案内サイト | CampFinder" />
  <meta name="twitter:description" content="北海道のキャンプ場＆温泉を最大級満喫できる、CampFinder。新鮮な空気、大自然の中でキャンプや温泉を楽しむなら、ぜひ当サイトをご利用ください。豊富な情報量と、使いやすい検索機能で、あなたの理想のキャンプ場＆温泉を見つけるお手伝いをいたします。" />
  <meta name="twitter:image" content="{% static 'img/favicon.PNG'%}" />
  <meta name="twitter:domain" content="https://campfinderjp.com/">
  <!-- FontAwesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/solid.min.css">
  <!-- GoogleFonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Russo One-->
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&amp;display=swap" rel="stylesheet">
  <!-- Noto Sans JP-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;display=swap" rel="stylesheet">
  <!-- cssファイル-->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <!--icon-->
  <link rel="icon" href="{% static 'img/favicon.PNG'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon.PNG'%}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P8C25C47LR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P8C25C47LR');
</script>
<body class="page-wrapper">
  <header class="main-header">
    <div class="container">
      <button class="gnavTrigger" type="button" aria-label="メニューを開閉する" aria-expanded="false" aria-controls="gNav"><i
          class="fa-solid fa-bars"></i></button>
      <h1 class="heading main-heading -brand"><a href="{%url 'campsite:index'%}">CampFinder!!</a></h1>
      <button class="searchOpener" type="button" aria-label="検索フォームを開く" aria-hidden="false"><i
          class="fa-solid fa-magnifying-glass"></i></button>
      <form class="searchForm search-form" action="" method="" aria-hidden="true">
        <label class="label"><i class="icon fa-solid fa-magnifying-glass" aria-hidden="false"></i>
          <input class="input main-input -noborder" type="search" name="">
        </label>
      </form>
      <button class="searchCloser" type="button" aria-label="検索フォームを閉じる" aria-hidden="true"><i
          class="fa-solid fa-xmark"></i></button>
    </div>
    <nav class="gNav" id="gNav" aria-hidden="true">
      <ul class="prefixed-linkList -primary -accent">
        <li class="item"><a class="link" href="#"><i class="icon -center fa-solid fa-user"></i>
            <p class="title">Account</p>
          </a></li>
	  <li class="item"><a class="link" href="{%url 'campsite:about-us'%}"><i class="icon -center fa-solid fa-gear"></i>
            <p class="title">About us</p>
          </a></li>
        <li class="item"><a class="link" href="{%url 'campsite:index'%}"><i class="icon -center fa-solid fa-map"></i>
            <p class="title">map</p>
          </a></li>
        <li class="item" id="allspot" style="background-color: #DDDDDD;"><a class="link" href="#" onclick="return false;"><i class="icon -center fas fa-map-marker-alt"></i>
            <p class="title">all spot</p>
          </a></li>
        <li class="item" id="campsiteSqueeze"><a class="link" href="#" onclick="return false;"><i class="icon -center fa-solid fa-tent"></i>
            <p class="title">campsite</p>
          </a></li>
        <li class="item" id="spaSqueeze"><a class="link" href="#" onclick="return false;"><i class="icon -center fa-solid fa-shower"></i>
            <p class="title">spa</p>
          </a></li>
        <li class="item" id="conveniencestoreSqueeze"><a class="link" href="#" onclick="return false;"><i class="icon -center fa-sharp fa-solid fa-store"></i>
            <p class="title">c-store</p>
          </a></li>
        {% if request.user.is_authenticated %}
        <li class="item"><a class="link" href="{%url 'accounts:logout'%}"><i class="icon -center fas fa-sign-out"></i>
          <p class="title">Logout</p>
        </a></li>
        {%else%}
        <li class="item"><a class="link" href="{%url 'accounts:login'%}?next={{ request.path }}"><i class="icon -center fas fa-sign-in"></i>
          <p class="title">Login</p>
        </a></li>
        {%endif%}
      </ul>
    </nav>
    <ul class="searchResult prefixed-linkList -primary -accent" aria-hidden="true">
      <!--
      <li class="item"><a class="link" href=""><i class="icon -center fa-solid fa-tent"></i>
          <p class="title">見出し1</p>
        </a></li>
      <li class="item"><a class="link" href=""><i class="icon -center fa-solid fa-person-hiking"></i>
          <p class="title">見出し2</p>
        </a></li>
      <li class="item"><a class="link" href=""><i class="icon -center fa-solid fa-anchor"></i>
          <p class="title">見出し3</p>
        </a></li>-->
    </ul>
  </header>
  <div id="map" style="height: 800px; width: 100%;"></div>
  <div class="content-mask" aria-hidden="true"></div>
  <script src="{% static 'js/DisplaySwitcher.js'%}"></script>
  <script src="{% static 'js/DisplayTriggerSwitcher.js'%}"></script>
  <script src="{% static 'js/DisplaySwitcherBySingleTrigger.js'%}"></script>
  <script src="{% static 'js/main-header.js'%}"></script>
  <script src="{% static 'js/search.js'%}"></script>
  <script src="{% static 'js/googlemap.js'%}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap"></script>
</body>

</html>
