
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>About us</title>
		<style>
                    .AboutusTitle {
			    display: flex;
			    flex-direction: column;
			    font-size: 1.6rem;
		    }
		    @media screen and (min-width:768px) {
			    .AboutusTitle {
				    flex-direction: row;
				    text-align: center;
				    width: 510px;
				    margin: 0 auto;
			    }
		    }
		</style>
	</head>
	<body>
		<main style="text-align: center; line-height: 2.5;margin: 0 auto;margin-top: 3rem; ">
			<div class="AboutusTitle">
				<div>Produce &amp; Programming:</div>
				<div>Souma Kimura</div>
			</div>
			<p>Email:ksouma170@gmail.com</p>
			<p>Instagram:souma2564</p>
			<p>Niigata Japan</p>
			<a href="{%url 'campsite:index'%}">back</a>
		</main>
	</body>
</html>
